Clarification around reference of RFC 4475

"Example of non-ASCII characters that do not require escaping [RFC4475]:"

It would be good to concretely reference the relevant part of RFC 4475, and to state how the example below differs from it.

Such as: "Example of non-ASCII characters that do not require escaping (the example from Section 3.1.1.12 of [RFC4475], with a hex dump replaced by the actual character glyphs):" 

-Julian Reschke


Done. Text changed to
   Example of non-ASCII characters that do not require escaping (example
   from Section 3.1.1.12 of RFC 4475 [RFC4475], with a hex dump replaced
   by the actual character glyphs):
